/* Se importa el estilo de letra que se va a usar */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Reseteo CSS, borra los margenes para que el programador los añada */
* {
    Margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Indie Flower';
  }

/* LOGO */
.logo {
    width: 50px;
    height: 50px;
}

.nav-bar {
    font-size: medium;
}

/* Imagenes de secciones */
.imagenPrincipal {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.principalIndex {
    background-image: url("../imagenes/principal.jpg");
}

.principalLibros {
    background-image: url("../imagenes/libros/muralLibros.jpg");
}

.principalHardware {
    background-image: url("../imagenes/hardware/muralHardware.jpg");
}

.principalContacto {
    background-image: url("../imagenes/contacto/muralContacto.jpg");
}

/***************************************************/


.card-img-top {
    width: 100%;
    height: 15vw;

}


/* Pie de pagina */
.pie {
    background-color: #0a268b;
    padding-block: 10px;
    color: white;
    text-align: center;
    font-size: x-large;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
/*****************/