/* Se importa el estilo de letra que se va a usar */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Reseteo CSS, borra los margenes para que el programador los añada */
* {
    Margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Indie Flower';
}

/* LOGO */
.logo {
    width: 50px;
    height: 50px;
}

.nav-bar {
    font-size: medium;
}

/* Imagenes de secciones */
.imagenPrincipal {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.principalIndex {
    background-image: url("../imagenes/principal.jpg");
}

.principalLibros {
    background-image: url("../imagenes/libros/muralLibros.jpg");
}

.principalHardware {
    background-image: url("../imagenes/hardware/muralHardware.jpg");
}

.principalContacto {
    background-image: url("../imagenes/contacto/muralContacto.jpg");
}

/***************************************************/


.card-img-top {
    width: 50%;
    height: 50%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

img
{
   margin: auto;
}

/*** Trancisiones y animaciones *****/

.card-img-top:hover {
    width: 100%;
}

.imgTransition:hover {
    transition: 1s;
    transform: scale(1.3) translateY(-20px);
}


/*   Pseudo-clases   */

*::selection {
    background-color: black;
    color: white;
}

*::placeholder {
    color: rgb(255, 0, 119);
    font-size: 1.5em;
  }

 .form-control:hover {
    background-color: rgba(165, 163, 163, 0.904);
    color: rgb(161, 52, 52);
  }

  /***********************************************/