/* Se importa el estilo de letra que se va a usar */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Reseteo CSS, borra los margenes para que el programador los añada */
* {
    Margin: 0;
    padding:0;
  }

/* Codigo que agrega el background a la pagina */
html{
    background-image: url("../imagenes/background/bluecarbon.jpg");
    background-position: center;
    background-repeat: repeat;
  }
  /*****************/

/* Propiedades del header */
  header {
    display: flex;
    justify-content: center;
}

/* LOGO */
.logo {
    width: 30px;
    height: 30px;
  }

/* Configuracion menu de navegacion */
.navbar {
    display: grid;
    width: 100%;
    height: 30px;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
    grid-template-rows: 0.1fr;
    color: white;
    background-color: #a39ea3;
    border: 4px solid #111111;
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    display: flex;
    justify-content: center;
}

.sub {
    border-right: 2px solid #111111;
    padding-right: 8px;
    padding-left: 8px;
}

.sub a {
    text-decoration: underline;
    color: #111111;
}

/* Formatos a los enlaces a */

a:visited {
    color: rgb(160, 41, 150);
}
/*****************************************/

/* Imagen principal y texto de bienvenida */
.imagenPrincipal {
    background-image: url(../imagenes/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 150px;
}

.imagenPrincipal h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: rgb(77, 150, 165);
    background-color: #a5a4a5a4;
    border: 4px #111111;
    border-radius: 10px;
    padding-inline: 16px;
}

.imagenPrincipal p {
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #af28afa4;

}

/* Configuracion flex productos principales */

.tituloMasVisto {
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #92af28a4;
    padding: 20px;
}

.masVisto {
    display: flex;
    padding: 60px;
    gap: 20px;
    display: grid;  /* Comienza el uso de Grid */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "libro1"
        "libro2"
        "libro3";
    color: white;
}

.libro {
    background-color: #e96acd;
    border-radius: 30px;
    overflow: hidden; /* Me gusta mas sin esto */
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    border: 1px solid red; /* BORRAR Solo para guiarme para implementar grid BORRAR */
}

.informacion {
padding: 0 20px 20px 20px;
}

.libro__imagen {
    max-width: 100%;

}
/***********************************/

/* Pie de pagina */
.pie {
    background-color: #0a268b;
    padding-block: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  /*****************/