#Ignora el node_modules
node_modules

#Ignora los archivos de configuracion json de SASS
package-lock.json
package.json

#Ignora lo hecho con la extension SASS de Visual Studio Code
./css/estilo.css.map
./css/estilo.scss
./css/partials