/* Imagenes de fondo para cada pagina */
.imagenPrincipal {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .principalIndex {
        background-image: url("../imagenes/principal.jpg");
    }

    .principalLibros {
        background-image: url("../imagenes/libros/muralLibros.jpg");
    }

    .principalHardware {
        background-image: url("../imagenes/hardware/muralHardware.jpg");
    }

}