/* Reseteo CSS, borra los margenes para que el programador los añada */
* {
    Margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: $fontFlower;

    /* Psedudo-clases */
    &::selection {
        background-color: black;
        color: white;
    }

    &::placeholder {
        color: secondaryColor;
        font-size: 1.5em;
      }
}