/* Reseteo CSS, borra los margenes para que el programador los añada */
* {
    Margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: $fontFlower;

    &::selection {
        background-color: black;
        color: white;
    }
}